header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body {
    display: flex;
}

#left-side {
    width: 365px;
    height: 1279px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-side {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    width: 183px;
    height: 43px;
}


#form {
    width: -moz-available;
    background-color: #fafafa;
    padding: 35px;
}

#analysis {
    background-color: #FFF3F4;
    border-radius: 5px;
}

.opestions {
    margin-left: 35px;
    margin-right: 15px;
}

/* images */

#menu-bar {
    margin-left: 29px;
    margin-right: 12px;
}

#header-logo {
    width: 142px;
    height: 30px;
}

#search-icon {
    width: 15.59px;
    height: 15.59px;
}

#notification-icon {
    width: 21.52px;
    height: 21.52px;
}

#profile {
    margin-right: 12px;
    width: 44px;
    height: 44px;
}

input{
    border: 1px solid #ADADAD;
}

#downward-arrow {
    margin-right: 44px;
    margin-left: 15px;
    width: 10px;
}

.left-side-image {
    width: 15px;
    height: 15px;
    margin-left: 18 px;
}