<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concierge Request</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/patient/conciergeRequest.css" rel="stylesheet" />
    <link href="~/css/international-telephone-input.css" rel="stylesheet">
    <script src="~/js/international-telephone-input.js"></script>
    <script src="~/js/Patient/Request.js"></script>
</head>
<body>
    <partial name="_Header"/>
    <div class="alert vw-100 vh-100" id="alert-message">
        <div id="alert-box">
            <img class="w-25" src="~/images/informtion-icon.png" />
            <h4>
                Information
            </h4>
            <span>
                When submitting a request, you must provide correct
            </span>
            <span>
                contact information for the patient or responsibly
            </span>
            <span>
                party. Failure to provide the correct email phone
            </span>
            <span> number will delay service or be declined.</span>
            <button class="btn"
                    onclick="alert_close(this)">
                ok
            </button>
        </div>
    </div>
    <div id="main-body">
        <div class="d-flex justify-content-end">
            <a id="back-box" asp-controller="Patient" asp-action="SubmitRequest">
                <i class="bi bi-chevron-left"> </i>
                Back
            </a>
        </div>
        <div class="container" id="form">
            <h5 class="fw-semibold">
                Concierge Information
            </h5>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="first-name" placeholder>
                    <label for="first-name">Your First Name</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="last-name" placeholder>
                    <label for="last-name">Your Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                    <input class="form-control" id="phone" placeholder
                           type="tel" />
                    <!-- <label for="phone">Phone Number</label> -->
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="f-email" placeholder>
                    <label for="f-email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="relation" placeholder>
                    <label for="relation">Home/Property Name</label>
                </div>
            </div>
            <h5 class="fw-semibold mt-4">
                Concierge Loacation
            </h5>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="street" placeholder>
                    <label for="street">Street</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="city" placeholder>
                    <label for="city">City</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="state" placeholder>
                    <label for="state">State</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="zip-code" placeholder>
                    <label for="zip-code">Zip-Code</label>
                </div>
            </div>
            <h5 class="fw-semibold mt-4">
                Patient Information
            </h5>
            <textarea class="form-control"
                      placeholder="Enter Brief Details Of Symptoms(Optional)"
                      rows="3"></textarea>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="first-name" placeholder>
                    <label for="first-name">First Name</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="last-name" placeholder>
                    <label for="last-name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="date"
                           placeholder="First Name" type="date">
                    <label id="date-picker" for="date">Date of Birth</label>
                </div>
            </div>
            <h5 class="fw-semibold mt-4">
                Patient Contact Information
            </h5>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="email" placeholder
                           type="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6">
                    <input class="form-control" id="phone" placeholder
                           type="tel" />
                    <!-- <label for="phone">Phone Number</label> -->
                </div>
            </div>
            <h5 class="fw-semibold mt-4">
                Patient Location
            </h5>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="street" placeholder>
                    <label for="street">Street</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="city" placeholder>
                    <label for="city">city</label>
                    <!-- <select class="selectpicker contrypicker" data-flag="true" data-live-search="true"></select> -->
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="state" placeholder>
                    <label for="state">State</label>
                </div>
                <div class="form-floating col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="zip-code" placeholder>
                    <label for="zip-code">Zip-Code</label>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-col-xl-6 col-md-6 col-lg-6 ">
                    <input class="form-control" id="house" placeholder>
                    <label for="house">house(Optional)</label>
                </div>
            </div>
            <h5 class="fw-semibold mt-4">
                (Optional)Upload Photo or Document
            </h5>
            <div class="input-group">
                <input class="form-control" placeholder="Select File"
                       type="file" id="file-picker">
                <button class="button fs-5">
                    <i class="bi bi-cloud-arrow-up-fill "></i>
                    Upload
                </button>
            </div>
            <div class="d-flex justify-content-end">
                <button class="bottom-button" id="submit-button">
                    Submit
                </button>
                <button class="bottom-button" id="cancel-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
    <partial name="_Footer" />
</body>
</html>