@model Services.ViewModels.SetNewPassword

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        ReSet Password
    </title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/patient/loginPage.css" rel="stylesheet" />
    <script src="~/js/LoginPage.js"></script>
</head>
<body>
    @await Component.InvokeAsync("Notyf")
    <div id="them-icon" class="z-2">
        <i class="bi-moon"> </i>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center vh-100">
        <img id="bg-image" src="~/images/LoginImage-removeBG.png" />
        <div class="d-flex flex-column align-items-center" id="form-box">
            <img id="logo-image" class="mb-5" src="~/images/helloDocLogo.png" />
            <p class="mt-5 mb-3" id="heading-text">Reset Password</p>
            <form class="w-100" asp-controller="Patient" asp-action="NewPassword">
                <div class="input-group w-100 mt-3">
                    <div class="form-floating flex-grow-1">
                        @if (Model.IsValidLink)
                        {
                            <input asp-for="Password" class="form-control" id="password" type="password" placeholder="Password" />
                        }
                        else
                        {
                            <input asp-for="Password" class="form-control" id="password" type="password" disabled />
                        }
                        <label for="password">Password</label>
                    </div>
                    <i class="bi bi-eye input-group-text bg-transparent" id="passwordIcon"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger w-100"></span>
                <input readonly asp-for="AspNetUserId" class="form-control d-none" />
                <div class="input-group w-100 mt-3">
                    <div class="form-floating flex-grow-1">
                        @if (Model.IsValidLink)
                        {
                            <input asp-for="ConformPassword" class="form-control" id="conformpassword" type="password" placeholder="ConformPassword" />
                        }
                        else
                        {
                            <input asp-for="ConformPassword" class="form-control" id="conformpassword" type="password" disabled />
                        }
                        <label for="password">Conform Password</label>
                    </div>
                    <i class="bi bi-eye input-group-text bg-transparent" id="passwordIcon2"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger w-100"></span>
                <a class="w-100" asp-controller="Patient" asp-action="Dashboard">
                    @if (Model.IsValidLink)
                    {
                        <button type="submit" class="button mt-4">Chnage Password</button>
                    }
                    else
                    {
                        <button type="submit" class="button mt-4" disabled>Chnage Password</button>
                    }
                </a>
            </form>
        </div>
        <div class="mb-4">
            <a class="mx-2 conditions-text"> Terms of Conditions </a>
            |
            <a class="mx-2 conditions-text"> Privacy Policy </a>
        </div>
    </div>
</body>
</html>
