@model Repositories.ViewModels.ResetPassword

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Reset Password
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/patient/resetPassword.css" rel="stylesheet" />
</head>
<body>
    <div id="them-icon" class="z-2">
        <i class="bi-moon"> </i>
    </div>
    <div class="d-flex flex-column justify-content-between align-items-center vh-100">
        <img id="bg-image" src="~/images/LoginImage-removeBG.png" />
        <img id="logo-image" class="mb-5" src="~/images/helloDocLogo.png" />
        <div class="d-flex flex-column align-items-center" id="form-box">
            <span class="d-flex" id="back-button">
                <a class="mt-4 backto-login" asp-controller="Patient" asp-action="LoginPage">
                    <i class="bi bi-chevron-left bi-xl"></i>
                    Back
                </a>
            </span>
            <form asp-controller="Patient" asp-action="ResetPassword">
                <p class="mt-2 mb-3 w-100" id="heading-text">Reset Your Password</p>
                <div class="form-floating">
                    <input class="form-control" id="username" placeholder="" asp-for="Email"/>
                    <label for="username">Email</label>
                    <i class="bi bi-envelope input-icon"></i>
                </div>
                <button class="button" type="submit">Log In</button>
            </form>
            <a class="mt-4 mb-5 backto-login" asp-controller="Patient" asp-action="LoginPage">
                <i class="bi bi-chevron-left bi-xl"></i>
                Back To Login
            </a>
        </div>
        <div class="mb-4">
            <a class="mx-2 conditions-text" href=""> Terms of Conditions </a>
            |
            <a class="mx-2 conditions-text" href=""> Privacy Policy </a>
        </div>
    </div>
</body>
</html>
