body {
    background-color: #f9f9f9;
}

thead {
    background-color: #f9f9f9;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-color: white;
}

a {
    border-radius: 10px;
    text-decoration: none;
}

select,
input {
    width: 300px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    border-width: 1px;
}

button {
    border: 0.5px solid;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

a:hover,
button:hover{
    font-weight:bold;
    border-color: black;
}

.mapButton {
    width: 150px;
}

#newOption {
    box-shadow: 10px 10px 5px #AAA;
    background-color: #203f9a;
    color: white;
    border-color: #1348e8;
}

#pendingOption {
    background-color: #e5f2f8;
    color: #5ea3b0;
    border-color: #c9ebfb;
}

#activeOption {
    background-color: #e9f0e8;
    color: #4e7d4f;
    border-color: #dcfbdc;
}

#concludeOption {
    background-color: #f7e6ee;
    color: #a84281;
    border-color: #cdb2c2;
}

#tocloseOption {
    background-color: #e5eef5;
    color: #1a6eb7;
    border-color: #d7f3fd;
}

#unpaidOption {
    background-color: #efeef4;
    color: #9674ad;
    border-color: #f2d9fc;
}

    #newOption:hover,
    #activeOption:hover,
    #concludeOption:hover,
    #tocloseOption:hover,
    #unpaidOption:hover,
    #pendingOption:hover {
        box-shadow: 10px 10px 5px #AAA;
    }

.middleOptionButtons {
    background-color: cadetblue;
    padding: 10px 15px;
    color: white;
}

.accordion {
    display: none;
}

.dropdown-toggle::after {
    display: none;
}

#allButton {
    height: 40px;
}

#mainbody{
    margin: 15px;
}

#close,#closeText,
#unpaid,#unpaidText,
#conclude,#concludeText,
#active,#activeText,
#pending,#pendingText {
    display: none;
}

.accordion-button:not(.collapsed) {
    color: White;
}

.accordion-button[aria-expanded="true"] {
    background-color: #dae8eb;
    border: none;
    color: black;
}

.accordion-button[aria-expanded="true"] {
    /*background-image: none;*/
    /*background-color: white;*/
    box-shadow: none;
    border-radius: 10px;    
}

.accordion-flush .accordion-item .accordion-button {
    border-start-start-radius: 5px;
    border-start-end-radius: 5px;
}

.accordion-item {
    border-radius: 5px;
}

.accordion-button::after {
    display: none;
}

.dt-column-order,
.dt-length,
.dt-search{
    display: none;
}

table.dataTable td.dt-type-numeric,
table.dataTable th.dt-type-numeric {
    text-align: left;
}



/* -------------------media-queries-------------------*/

@media screen and (max-width:576px) {

    .h5 {
        font-size: 0.5rem;
    }

    .colorText {
        font-size: 12px;
    }

    .mapButton{
        width: 120px
    }
}

@media screen and (min-width:577px) and (max-width:768px) {

    .h5 {
        font-size: 0.7rem;
    }

}

@media screen and (max-width:768px) {


    .buttonLogo {
        display: none;
    }

    .h3 {
        font-size: calc(1rem + .6vw);
    }

    #headingText {
        font-size: calc(0.7rem + .6vw);
    }

    #allButton {
        display: none;
    }

}

@media screen and (max-width:615px) {

    select,
    input {
        width: 100%;
    }

    .colorOption {
        flex-direction: column;
        margin: 5px;
    }
}

@media screen and (max-width:992px) {
    .table-responsive {
        display: none;
    }

    .accordion {
        display: block;
    }
}

@media screen and (max-width:1200px) {

    .buttonText {
        display: none;
    }
}
