body {
    background-color: #dcdbdb;
}

button {
    height: 58px;
    color: cadetblue;
    font-size: 20px;
    background-color : white;
}

.form-floating > label {
    top: 13px;
    left: 12px;
    background-color: transparent;
}

input {
    height: 58px;
}

.editButton,
.form-control {
    margin-top: 2vh;
}

#submit {
    display: none;
    margin-top: 2vh;
}

#viewNotesButton {
    background-color: cadetblue;
    color : white;
}

.editButton{
    width: 100px;
    margin-left: 12px;
}

#form {
    width: 100vw;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
}

#back-box {
    background-color: white;
    width: 100px;
}

a{
    text-decoration: none;
}


/* -------------------Header-------------------*/
#slidebar-button {
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

header {
    box-shadow: 0px 0px 8px lightgray;
    background-color: white;
}

#button-icon {
    display: none;
}

.navbar-item {
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
}

#logo-image {
    width: 150px;
    margin-left: 4vh;
}

#them-icon {
    margin-right: 40px;
    width: 50px;
    height: 50px;
}

#dashboard {
    background-color: #dcdbdb;
    color: cadetblue;
}

#log-out {
    width: 100px;
    height: 50px;
    color: cadetblue;
    margin-right: 20px;
    margin-left: 20px;
}

#side-bar {
    display: none;
    top: 60px;
    background-color: white;
    width: 225px;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

button {
    border: 1px solid cadetblue;
    border-radius: 10px;
}

/* -------------------media-queries-------------------*/
@media screen and (max-width: 778px) {

    h3 {
        font-size: calc(1rem + .6vw);
    }

    #back-box{
        width : 90px;
    }

    /* -------------------Header-------------------*/

    #header-buttom,
    #button-text,
    #welcome-text {
        display: none;
    }

    #log-out {
        width: 50px;
    }

    #button-icon {
        display: inline;
    }

    #slidebar-button {
        display: flex;
    }

    #logo-image {
        width: 100px;
    }
}