@model Dictionary<int,String>

@foreach (var item in Model)
{
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value="@item.Key" onclick="changeCheckBox(this)">
        <label class="form-check-label" for="r-1">
            @item.Value
        </label>
    </div>
}
