@model List<Services.ViewModels.Admin.SchedulingTable>

<div class="table-responsive">
    <table class="table table-bordered bg-white text-center">
        <thead>
            <tr>
                <th>
                    SUN
                </th>
                <th>
                    MON
                </th>
                <th>
                    TUE
                </th>
                <th>
                    WED
                </th>
                <th>
                    THU
                </th>
                <th>
                    FIR
                </th>
                <th>
                    SAT
                </th>
            </tr>
        </thead>
        <tbody>
            @for(int i= 0;i < 6;i++)
                {
                <tr class="bg-pink row-@i">
                    <td id="sun-@i" class="bg-white"></td>
                    <td id="mon-@i" class="bg-white"></td>
                    <td id="tue-@i" class="bg-white"></td>
                    <td id="wed-@i" class="bg-white"></td>
                    <td id="thu-@i" class="bg-white"></td>
                    <td id="fir-@i" class="bg-white"></td>
                    <td id="sat-@i" class="bg-white"></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="row-@i">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                }
        </tbody>
    </table>
</div>