@model List<Services.ViewModels.Admin.SchedulingTable>

<div class="table-responsive">
    <table class="table table-bordered bg-white text-center">
        <thead>
            <tr>
                <th class="w-25">
                    Staff
                </th>
                <th>SUN 3</th>
                <th>MON 4</th>
                <th>TUE 5</th>
                <th>WED 6</th>
                <th>THU 7</th>
                <th>FIR 8</th>
                <th>SAT 9</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="w-25 bg-white">
                        <img src="@item.Photo" class="image">
                        @item.FirstName @item.LastName
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>