body {
    background-color: #dcdbdb;
}

a{
    text-decoration: none;
}

#them-icon {
    margin-right: 40px;
    width: 50px;
    height: 50px;
}

#slidebar-button{
    display: none;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#new-request{
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

#logo-image {
    width: 150px;
    margin-left: 4vh;
}

#document{
    width: 150px;
    height: 35px;
}

button{
    background: transparent;
    border-radius: 10px;
    border-color: cadetblue;
    border-width: 2px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-out{
    width: 100px;
    height: 50px;
    color: cadetblue;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-nav{
    flex-direction: row;
}

.navbar-item{
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
}

header {
    width: 100vw;
    box-shadow: 0px 0px 8px lightgray;
    background-color: white;
}

.tab-content{
    display: none;
}

#dashboard_content{
    display: block;
    margin: 25px;
}

#history{
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.table-dark{
    --bs-table-bg:#dcdbdb;
    --bs-table-color: rgb(65, 65, 65);
}

tr{
    height: 50px;
}

#logout-icon{
    display: none;
}

#dashboard{
    background-color: #dcdbdb;
    color: cadetblue;
}

#header-buttom{
    display: flex;
}

#side-bar{
    display: none;
    top: 80px;
    background-color: white;
    width: 225px;
    height: 100vh;
    position: absolute;
    /* z-index: 1; */
}

.sidebar-button{
    font-size: 20px;
    width: 200px;
    height: 50px;
    margin: 15px;
}


/* -------------------media-queries-------------------*/


@media screen and (max-width:576px) {
    #logout-text{
        display: none;
    }

    #logout-icon{
        display: inline;
    }

    #log-out{
        width: 50px;
    }

    #welcome-text{
        display: none;
    }

    #slidebar-button{
        display: flex;
    }

    #header-buttom{
        display: none;
    }

    #logo-image {
        width: 120px;
        margin-left: 2vh;
    }
}