@model Services.ViewModels.Admin.PatientRecord

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Record</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin/records.css" rel="stylesheet" />
    <script src="~/js/Admin/record.js"></script>
</head>
<body>
    <partial name="_AdminDashboardHeader" model="7">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center mt-2 mb-2">
                <h3>
                    Patient Record
                </h3>
                <a asp-controller="Admin" asp-action="PatientHistory">
                    <button class="bg-white px-3 fw-bold">
                        <i class="bi bi-chevron-left"> </i>
                        Back
                    </button>
                </a>
            </div>
            <div class="recordList">
                <partial name="_PatientRecordTable" model="@Model"></partial>
            </div>
        </div>
</body>
</html>